*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables & utility-classes */

/* qeybta color */
:root{
    --primary-color: #FB9E3A;
    --secondary-color: #F97A00;
    --background1-color: white;
    --background2-color: #B4EBE6;
    --text1-color: #333;
    --text2-color: black;
    --text3-color: white;

}

/* qeybta textsga */

.text-xl {
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: 700;
    margin: 20px auto;

}
.text-lg {
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
    margin: 10px auto;

}
.text-md {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: normal;
    margin: 10px auto;

}
.text-sm {
    font-size: 1rem;
    line-height: 1;
    font-weight: lighter;
    margin: 10px auto;

}
.text-center{
    text-align: center;
}
.text-unit{
    width: 50%;
    height: auto;
    line-height: 1.4;
    margin: 20px auto;
}



/* common containers ka */
.container{
    max-width: 85%;
    height: auto;
    margin: 0 auto;
    padding: 0 15px;
    background-color: var(--background1-color);
}
.container .container-md {
    width: 95%;
    height: auto;
    margin: 10px 20px;
}
.btn{
    display: block;
    padding: 15px 25px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text3-color);
    cursor: pointer;
    transition: transform 3s ease-out;
}
.btn:hover{
    transform: scale(1.1);
    opacity: 0.7;
}
.read-more{
    display: inline-block;
    padding: 10px 25px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
    transition: transform 2s ease-out;
}
.read-more:hover{
    transform: scale(1.1);
    opacity: 0.7;
    text-decoration: underline;

}
.All-icons{
    width: 55px;
    height: 55px;

}

/* qeybta 1 boxka container-sm */
.box{
    display: flex;
    justify-content: space-around;
    
}
.container-sm{
    display: inline-block;
    width: 320px;
    height: 250px;
    padding: 20px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.2);
    
}

.container-sm .logo{
    text-align: center;
    margin-left: 30%;
    

}


/* qeybta 2 text-cardka */

.container .text-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;


}



/* qeybta 3 text-icon */
.text-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    background-color: var(--background2-color);
}
.icons{
    padding: 25px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
}

.icons .icon{
    display: flex;
    gap: 30px;
    padding: 10px;
    
}

/* qeybta 5 Customers cardka  */
.container .Customers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    background-color: var(--background2-color);
}

.Customers .Customers-card{
    margin: 10px 20px;
}
.Customers-card .Customers-icons{
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

/* qeybta 6 blog-sectionka */
.blog-section{
    margin: 40px auto;
    
}
.blog-section .blog-cards{
    display: flex;
    gap: 10px;
    
}
.blog-card img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.2);
    display: inline;
    z-index: -9;
}
.blog-cards .blog-card{
    margin: 5px;
    
}
.blog-cards .blog-card .text-card{
    display: block;
    background-color: var(--background1-color);
    border-radius: 10px;
    box-shadow: 5px 8px 5px 0 rgba(171, 190, 209, .4);
    height: 180px;
    padding: 20px;
    position: relative;
    text-align: center;
    top: 1;
    top: -140px;
    width: 75%;
}
.text-card .Read-more{
    background-color: var(--background1-color);
}


/* qeybta responsiveka */

@media (max-width:480px) {
    .text-xl {
        font-size: 1.5rem;
        line-height: normal;
        margin: 10px auto;
    }
    .text-lg {
        font-size: 1.2rem;
        line-height: normal;
        margin: 10px auto;
    }
    .text-md {
        font-size: 1rem;
        line-height: normal;
        margin: 5px auto;
    }
    .text-md {
        font-size: 0.8rem;
        line-height: normal;
        margin: 2px auto;
    }

    .container{
        width: 100%;
        
    }
    .container .container-md {
        width: 95%;
        height: auto;
        margin: 10px;
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .All-icons{
        width: 50px;
        height: 50px;

    }
    .container .images{
        width: 100%;
        height: auto;
    }

    .btn{
        padding: 10px 20px;
        transition: transform 2s ease-out;
    }
    .read-more{
    padding: 10px 20px;
}

    /* qeybta 1 boxka container-sm */
.box{
    display: block;
    
}
.container-sm{
    display: inline-block;
    width: 100%;
    height: 250px;
    padding: 20px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.2);
    
}


/* qeybta 2 text-cardka */

.container .text-card{
    display: block;
    margin: 10px auto;

}

/* qeybta 3 text-icon */
.text-icon{
    display: block;
    margin: 10px auto;
}
.icons{
    padding: 10px;
    
    gap: 2px;
}

.icons .icon{
    gap: 1px;
    padding: 5px;
    margin: 2px auto;
}

/* qeybta 5 Customers cardka  */
.container .Customers{
    display: block;
    margin: 20px auto;
}

.Customers .Customers-card{
    margin: 10px 20px;
}
.Customers-card .Customers-icons{
    display: block;
    gap: 10px;
    margin-top: 20px;
}

/* qeybta 6 blog-sectionka */
.blog-section{
    margin: 5px auto;
    
}
.blog-section h1{
    display: block;
    text-align: center;
    margin-top: 25px;
    width: 90%;
}
.blog-section p{
    display: block;
    text-align: center;
    margin-bottom: 25px;
    width: 70%;
}
.blog-section .blog-cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}
.blog-card img{
    width: 100%;
    height: 250px;
}
.blog-cards .blog-card .text-card{
    height: 150px;
    padding: 20px;
    width: 70%;
}
.text-card .Read-more{
    display: block;




}
}